[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
python-dotenv = "*"
faker = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-migrate = "*"
celery = "*"
redis = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.12"
